*{
    margin: 0;
    padding: 0;
}
.Introduce{
    text-align: center;
    background-color: rgb(13, 13, 243);
    padding: 15px;
}
img{
    border-radius: 50%;
    vertical-align: middle;
}
.div{
    padding-left: 400px;
}
.link{
    text-align: center;
    background-color: rgb(159, 153, 153);
    padding: 15px;
}
a{
    color: blue;
}
