*{
    margin: 0;
    padding: 0;

}
body{
    justify-content: center;
    align-items: center;
    height: 20px;
    margin: 0;
}

.table{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 10px;
    width: 600px;
    border-radius: 10px;
  }
  
  .box{
    position: relative;
    border-radius: 3px;
    background-color: rgba(128,0,128,255);
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: white;
  }

  .box2{
    border-radius: 3px;
    background-color: rgba(128,0,128,255);
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: white;
    position: absolute;
    left: 510px;
    top: 40px;
  }